body {
    font-family: 'Roboto', sans-serif; /* Use the Roboto font from Google Fonts */
    background-color: #3E3636; /* Dark background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    text-align: center;
  }

  .logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 300px; /* You can adjust the width as needed */
  }

  .text {
    color: #F5EDED; /* Light gray text color */
    font-size: 24px;
    margin-top: 20px;
  }

  .btn {
    background-color: #000000; /* Blue button background color */
    color: #F5EDED; /* Light gray button text color */
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
  }

  .btn:hover {
    background-color: #333333; /* Slightly darker background color on hover */
    color: #F2F2F2; /* Light gray text color on hover */
  }