body {
    font-family: 'Roboto', sans-serif; /* Use the Roboto font from Google Fonts */
    background-color: #3E3636; /* Dark background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

a {color:#D72323;}
p {font-size:1.1ew;}

#header-nav img {
    float:right;
    width: 300px;
    height: 75px;
}

header .list {
    float:right;
    list-style-type:none;
}

header {
position: fixed;
    width: 100%;
    display: flex;
    transition: 0.3s ease-out;
    backdrop-filter: blur(8px) brightness(1.2);
    -webkit-backdrop-filter: blur(8px) brightness(1.2);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: white;
    font-size: 16px;
    padding: 10px 0;
}

h1#posts {
  font-family: 'Roboto', sans-serif; /* Use the Roboto font from Google Fonts */
  color: #F5EDED; /* Light gray text color */
  margin: 120px 0 40px 0;
  font-size:4em;
  font-weight: 500;
  margin-top: 20px;
  text-align:left;
}